@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./custom/components";

:root {
  --purple-brown: #231f20;
  --egg-shell: #e8e4d2;
  --dark-peach: #e26961;
  --border-width: 0.75rem;
  --dots-gap: 10px;

  /*
    * primary color
    */
  --color-accent: 39, 18, 68;

  /*
    * Hover state color of primary color
    */
  --color-accent-hover: 199, 21, 133;

  /*
    * shade of primary color
    */
  --color-accent-200: 199, 21, 133;

  /*
    * shade of primary color
    */
  --color-accent-300: 156, 120, 207;

  /*
    * shade of primary color
    */
  --color-accent-400: 106, 72, 156;

  /*
    * shade of primary color
    */
  --color-accent-500: 77, 45, 122;

  /*
    * shade of primary color
    */
  --color-accent-600: 61, 33, 102;

  /*
    * shade of primary color
    */
  --color-accent-700: 27, 12, 48;

  /*
    * light color
    */
  --color-light: 255, 255, 255;

  /*
    * dark color
    */
  --color-dark: 0, 0, 0;

  /*
    * Black muted color
    */
  --color-muted-black: 17, 17, 17;

  /*
    * Current color
    */
  --color-current: currentColor;

  /*
    *
    * TEXT colors
    *
    */

  /*
    * text color used for body/base text -> gray-500
    */
  --text-base: 107, 114, 128;

  /*
    * dark base text color  -> gray-600
    */
  --text-base-dark: 75, 85, 99;

  /*
    * muted text color -> gray-400
    */
  --text-muted: 156, 163, 175;

  /*
    * light muted text color - gray-300
    */
  --text-muted-light: 209, 213, 219;

  /*
    * text color used for heading text -> gray-700
    */
  --text-sub-heading: 55, 65, 81;

  /*
    * text color used for heading text -> gray-800
    */
  --text-heading: 31, 41, 55;

  /*
    * text color used for heading text -> gray-900
    */
  --text-bolder: 31, 41, 55;

  /*
    *
    * border colors
    *
    */
  --color-border-pending: 255, 121, 0;

  --color-border-completed: 255, 121, 0;
  /*
    * border color 50
    */
  --color-border-50: 249, 250, 251;

  /*
    * border color 100
    */
  --color-border-100: 243, 244, 246;

  /*
    * border color 200
    */
  --color-border-200: 229, 231, 235;

  /*
    * border base color which is 300
    */
  --color-border-base: 209, 213, 219;

  /*
    * border color 400
    */
  --color-border-400: 156, 163, 175;

  /*
    *
    * Tailwind default gray color override
    *
    */

  /*
    * gray-50
    */
  --color-gray-50: 249, 250, 251;

  /*
    * gray-100
    */
  --color-gray-100: 243, 244, 246;

  /*
    * gray-200
    */
  --color-gray-200: 229, 231, 235;

  /*
    * gray-300
    */
  --color-gray-300: 209, 213, 219;

  /*
    * gray-400
    */
  --color-gray-400: 156, 163, 175;

  /*
    * gray-500
    */
  --color-gray-500: 107, 114, 128;

  /*
    * gray-600
    */
  --color-gray-600: 75, 85, 99;

  /*
    * gray-700
    */
  --color-gray-700: 55, 65, 81;

  /*
    * gray-800
    */
  --color-gray-800: 31, 41, 55;

  /*
    * gray-900
    */
  --color-gray-900: 31, 41, 55;

  /*
    * orange-50
    */
  --color-orange-50: 255, 247, 237;

  /*
    * orange-100
    */
  --color-orange-100: 255, 237, 213;

  /*
    * orange-200
    */
  --color-orange-200: 254, 215, 170;

  /*
    * orange-300
    */
  --color-orange-300: 253, 186, 116;

  /*
    * orange-400
    */
  --color-orange-400: 251, 146, 60;

  /*
    * orange-500
    */
  --color-orange-500: 249, 115, 22;

  /*
    * orange-600
    */
  --color-orange-600: 234, 88, 12;

  /*
    * orange-700
    */
  --color-orange-700: 194, 65, 12;

  /*
    * orange-800
    */
  --color-orange-800: 154, 52, 18;

  /*
    * orange-900
    */
  --color-orange-900: 124, 45, 18;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: Trocchi, Georgia, serif;
  line-height: 1.5;
  color: var(--egg-shell);
  overflow: visible;
}
a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

h5 {
  font-family: "Anton", sans-serif;
  text-align: center;
  margin: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #000),
    color-stop(0.5, #000),
    color-stop(1, transparent)
  );
  transition: background-position 1s, background-color 1s;
  font-size: calc(28vw + 1rem);
  font-weight: 400;
  line-height: 1;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/tw-o.png"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/tw6-o.png"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/tw5-o.png");
  background-size: 45vw auto, 45vw auto, 30vw auto;
  background-repeat: repeat-x;
  background-position: 0px 15%, 200px 25%, -50px 2vw;
  max-width: 90vw;
  margin-bottom: 3rem;
}

nav {
  position: fixed;
  top: var(--border-width);
  left: var(--border-width);
  z-index: 10;
  ul {
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  li {
    flex: 1 0 7.5rem;
  }
  a {
    display: block;
    padding: 0.75rem 0 0.5rem;
    color: var(--egg-shell);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
  }
  .link-projects {
    color: var(--purple-brown);
  }
}

// main

main {
  position: relative;
  font-size: 2rem;
  display: flex;
  margin: -8rem auto 0;
  justify-content: center;
  align-items: center;
}
