.tiltBox {
  position: relative;
  height: 400px;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: transparent !important;
}
